<div class="w-full overflow-hidden">
  <div class=" ">
    <div class="container mx-auto p-6 bg-gray-50 rounded-lg shadow-md">
      <div class="overflow-x-auto bg-white rounded-lg shadow-md">
        <table datatable [dtOptions]="dtOptions" class="min-w-full table-auto">
          <thead>
            <tr>
              <th class="py-3 px-4 text-left">Name</th>
              <th class="py-3 px-4 text-left">role</th>
              <th class="py-3 px-4 text-left">E-mail</th>
              <th class="py-3 px-4 text-left">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of displayedUsers"
              class="border-b hover:bg-gray-100 transition-colors"
            >
              <td class="py-3 px-4">{{ user.name }}</td>
              <td class="py-3 px-4">{{ user.position }}</td>
              <td class="py-3 px-4">{{ user.office }}</td>
              <td class="py-3 px-4">{{ user.age }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
