<div class="w-full page-wrapper overflow-hidden"> 
    <div class="  mt-20">  
        <div class="container mx-auto p-6 bg-gray-50 rounded-lg shadow-md">
            <!-- Dropdown to select number of users -->
            <div class="mb-6 flex items-center space-x-4">
              <label for="row-count" class="text-lg font-semibold text-gray-700">Select number of users:</label>
              <select id="row-count" [(ngModel)]="selectedRowCount" (change)="updateDisplayedUsers()"
                class="pr-8   bg-white border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500 focus:outline-none">
                <option class="  "  *ngFor="let option of rowOptions" [value]="option">{{ option }}</option>
              </select>
            </div>
          
            <!-- Table to display the users -->
            <div class="overflow-x-auto bg-white rounded-lg shadow-md">
              <table class="min-w-full table-auto">
                <thead class="bg-gray-200 text-gray-700 ">
                  <tr>
                    <th class="py-3 px-4 text-left">Index</th>
                    <th class="py-3 px-4 text-left">Name</th>
                    <th class="py-3 px-4 text-left">Position</th>
                    <th class="py-3 px-4 text-left">Office</th>
                    <th class="py-3 px-4 text-left">Age</th>
                    <th class="py-3 px-4 text-left">Start Date</th>
                    <th class="py-3 px-4 text-left">Customers Transaction</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of displayedUsers" class="border-b hover:bg-gray-100 transition-colors">
                    <td class="py-3 px-4">{{ user.index }}</td>
                    <td class="py-3 px-4">{{ user.name }}</td>
                    <td class="py-3 px-4">{{ user.position }}</td>
                    <td class="py-3 px-4">{{ user.office }}</td>
                    <td class="py-3 px-4">{{ user.age }}</td>
                    <td class="py-3 px-4">{{ user.startDate }}</td>
                    <td class="py-3 px-4">{{ user.salary }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          
          
    </div>
</div>