<aside
  [ngClass]="{
    'translate-x-0': isSidebarOpen,
    '-translate-x-full': !isSidebarOpen
  }"
  class="fixed z-40 bg-[#3b86f7] text-white h-screen w-48 shadow-lg transform transition-transform border-gray-400 transition-all duration-300"
>
  <!-- Header with Toggle Button -->
  <div class="px-3 flex items-center justify-between ">
    <button (click)="sidebarService.toggleSidebar()" class="py-3 text-white">
      <i class="ti ti-arrow-left text-2xl"></i>
    </button>
    <p class="text-lg font-semibold py-3 text-lg text-white"><a routerLink="/Admin/dashboard"> Smart Assist </a></p>
  </div>

  <!-- Sidebar Navigation -->
  <div class="px-6 mt-8">
	<div class="rounded-lg">
		<button 
		  class="w-full flex justify-between items-center py-3 px-4 text-left focus:outline-none transition-all duration-300 bg-transparent text-white hover:text-gray-300 rounded-lg text-md font-semibold "
		>
		  <span routerLink="/Admin/dashboard">Dashboard</span>
		  <i class="ml-2 transition-transform duration-300" 
		  ></i>
		</button> 
	  </div>
	  <div class="rounded-lg">
		<button 
		  class="w-full flex justify-between items-center py-3 px-4 text-left focus:outline-none transition-all duration-300 bg-transparent text-white hover:text-gray-300 rounded-lg text-md font-semibold "
		 routerLink="/Admin/users">
		  <span>Users</span>
		  <i class="ml-2 transition-transform duration-300" 
		  ></i>
		</button>
	
		 
		
	  </div>
	  <div class="rounded-lg">
		<button 
		  class="w-full flex justify-between items-center py-3 px-4 text-left focus:outline-none transition-all duration-300 bg-transparent text-white hover:text-gray-300 rounded-lg text-md font-semibold "
		routerLink="/Admin/customers">
		  <span>Customers</span>
		  <i class="ml-2 transition-transform duration-300" 
		  ></i>
		</button>
	 
	  </div>
	  <div class="rounded-lg">
		<button 
		  class="w-full flex justify-between items-center py-3 px-4 text-left focus:outline-none transition-all duration-300 bg-transparent text-white hover:text-gray-300 rounded-lg text-md font-semibold "
		routerLink="/Admin/vehicles">
		  <span>Vehicles</span>
		  <i class="ml-2 transition-transform duration-300" 
		  ></i>
		</button> 
	  </div>
	  <div class="rounded-lg">
		<button 
		  class="w-full flex justify-between items-center py-3 px-4 text-left focus:outline-none transition-all duration-300 bg-transparent text-white hover:text-gray-300 rounded-lg text-md font-semibold "
		routerLink="/Admin/dealers">
		  <span>Dealers</span>
		  <i class="ml-2 transition-transform duration-300" 
		  ></i>
		</button> 
	  </div>

     
  </div>
</aside>
