<div class=" overflow-hidden">
    <div class="md:flex lg:my-28 ">
      <!-- Left section for profile photo -->
      <div class="md:w-1/3  p-4 text-center my-auto">
        <div class="w-48 h-48 mx-auto rounded-full overflow-hidden  ">
          <img [src]="profile.photoUrl" 
               [alt]="profile.name + '\'s photo'" 
               class="w-full h-full object-cover"
               (error)="onImageError()">
        </div>
      </div>
  
      <!-- Right section for profile details -->
      <div class="md:w-2/3 p-4">
        <h2 class="text-3xl font-bold text-gray-800">{{ profile.name }}</h2>
        <p class="text-xl text-gray-600 mt-2">{{ profile.role }}</p>
        <div class="mt-4">
            <!-- <p class="text-gray-700"><strong>Name:</strong> {{ profile.email }}</p> -->
          <p class="text-gray-700"><strong>Email:</strong> {{ profile.email }}</p>
          <p class="text-gray-700 mt-2"><strong>Phone:</strong> {{ profile.phone }}</p>
          <p class="text-gray-700 mt-2"><strong>Mobile:</strong> {{ profile.mobile }}</p>
          <p class="text-gray-700 mt-2"><strong>Location:</strong> {{ profile.location }}</p>
        </div>
        
       
  
         
      </div>
    </div>
  </div>